<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MinimalTemplateEngine/src/com/floreysoft/jmte/util/Tool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.floreysoft.jmte.util.Tool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="example/buffer.mte example/buffer.properties UTF-8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MinimalTemplateEngine"/>
</launchConfiguration>
